<div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="?page=1{% if rpp %}&rpp={{ rpp }}{% endif %}{% if search %}&search={{ search }}{% endif %}">&lsaquo;&lsaquo;</a>
            </li>
            <li class="page-item" {% if not page_obj.has_previous %} class="page-item disabled"{% endif %}>
                <a class="page-link" href="{% if page_obj.has_previous %}?
                    {{ page_obj.previous_page_number.querystring }}{% else %}#{% endif %}">&lsaquo; </a>
            </li>
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if rpp %}&rpp={{ rpp }}{% endif %}{% if search %}&search={{ search }}{% endif %}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}
            <li class="page-item active">
              <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if rpp %}&rpp={{ rpp }}{% endif %}{% if search %}&search={{ search }}{% endif %}">{{ page_obj.next_page_number }}</a>
                </li>
            {% endif %}
            <li class="page-item" {% if not page_obj.has_next %} class="page-item disabled"{% endif %}>
                <a class="page-link" href="{% if page_obj.has_next %}?{{ page_obj.next_page_number.querystring }}{% else %}#{% endif %}"> &rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if rpp %}&rpp={{ rpp }}{% endif %}{% if search %}&search={{ search }}{% endif %}">&rsaquo;&rsaquo;</a>
            </li>
        </ul>
        <div style="text-align: center">
            Registro del {{ page_obj.start_index }} al {{ page_obj.end_index }} de {{ page_obj.paginator.count }}
            resultados, p&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </div>
    </nav>
</div>