<div class="dgtic-panel-content">
    Mostrar:
    <select onchange="handleSubmitSearch();" name="rpp" id="id_rpp" style="width: inherit;">
        <option value="10" {% if rpp == 10 %}selected{% endif %}>10</option>
        <option value="25" {% if rpp == 25 %}selected{% endif %} >25</option>
        <option value="50" {% if rpp == 50 %}selected{% endif %} >50</option>
        <option value="100" {% if rpp == 100 %}selected{% endif %} >100</option>
    </select>
    registros
    <div class="pull-right">

        <button class="btn" onclick="handleSearchInput(event)">
            <i class="icon-search"></i>
        </button>
    </div>
</div>
