{% load staticfiles %}
<nav class="navbar navbar-expand-sm bgnavbar navbar-dark justify-content-end">
	<form class="form-inline has-search">
    	<i class="fas fa-binoculars mr-2"></i>
    	<input class="form-control mr-sm-3" onkeypress="handleSearchInput(event);" type="text" name="search" id="id_search" placeholder="Buscar" value="{{ search }}">
  	</form>
</nav>
