{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle de cuenta{% endblock %}
{% block content %} 
    <main role="main">
        <div class="container mt-3">

            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información de cuenta</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Código de la cuenta</th>
                            <td>{{cuenta.codigo}}</td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <th scope="row">Estatus de la cuenta</th>
                            <td>{{cuenta.estatus}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre del Grupo</th>
                            <td>{{cuenta.grupo.nombre}}</td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <th scope="row">Código del grupo</th>
                            <td>{{cuenta.grupo.codigo}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Monto</th>
                            <td>${{cuenta.monto}} MXN</td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <th scope="row">Saldo Pagado</th>
                            <td>$ {{cuenta.calcular_monto_total_pagado}} MXN</td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <th scope="row">Numero de pagos</th>
                            <td>{{cuenta.numero_pagos}} Pagos individuales</td>
                            <td></td>
                        </tr>                            
                        <tr>
                            <th scope="row">Monto individual</th>
                            <td>${{cuenta.calendario.monto_individual}} MXN</td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <th scope="row">Periodo de pagos</th>
                            <td>{{cuenta.calendario.get_periodo_pago_display}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /row -->                

            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Información del Calendario de pagos</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr>
                            <th scope="row">Fecha</th>
                            <th scope="row">Monto</th>
                            <th scope="row">Abonado</th>
                            <th scope="row"># de abonos</th>
                            <th scope="row">Liquida</th>
                            <th scope="row">Estatus</th>
                            <th scope="row">Atrasado</th>
                            <th scope="row">Opciones</th>
                        </tr>
                        {% for pago_individual in cuenta.calendario.pagos.all %}
                            <tr>
                                <td>{{pago_individual.fecha}}</td>
                                <td>${{pago_individual.monto_individual}} MXN</td>
                                <td>${{pago_individual.calcular_monto_abonos}} MXN</td>
                                <td>{{pago_individual.calcular_numero_abonos}}</td>
                                <td>${{pago_individual.calcular_monto_liquidar}} MXN</td>
                                <td>{{pago_individual.estatus}}</td>
                                <td>{{pago_individual.esta_atrasado|yesno:"SI,NO"}}</td>
                                <td>
                                    {% if not pago_individual.abono_bloqueado %}
                                        <a href="{% url 'pagos:crear' pk_pago=pago_individual.pk pk_cuenta=cuenta.pk %}">Abonar
                                            <img border="0" alt="Abonar" src="{% static 'img/icons/plus-circle.svg' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /row -->

            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información del registro</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Creó</th>
                            <td>{{cuenta.user_create}}</td>
                        </tr>                        
                        <tr>
                            <th scope="row">Fecha de creación </th>
                            <td>{{cuenta.created}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de ultima actualización </th>
                            <td>{{cuenta.modified}}</td>
                        </tr>
                    </tbody>
                </table>       
            </div><!-- /row -->

            <div class="row mb-4">
                <a href="{% url 'cuentas:listar' %}" class="btn btn-outline-warning btn-block">Regresar</a> 
            </div>

        </div><!-- /container -->
    </main>
{% endblock %}