{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de cuentas{% endblock %}
{% block content %}
    <main class="container">
        <div class="search">
            {% include 'djangosearchpaginationplus/includes/_search.html' %}
        </div>
        <div class="row">
            <div class="col-sm-3 offset-sm-4"><a href="{% url 'cuentas:crear' %}" class="btn btn-outline-success btn-block">Crear nueva cuenta</a></div>
        </div>
    	<div class="row mt-3 mb-3">
            <div class="col-12 row_table_list">
        		<table class="table table-hover table-striped">
        			<thead>
        				<tr>
        					<th scope="col">Grupo</th>
        					<th scope="col">Estatus</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Saldo</th>
        					<th scope="col">Detalle</th>
        				</tr>
        			</thead>
        			<tbody>
        				{% for cuenta in cuenta_list %}
    	    				<tr>
    	    					<td>{{cuenta.grupo}}</td>
    	    					<td>{{cuenta.estatus}}</td>
    	    					<td>${{cuenta.monto}}</td>
                                <td>${{cuenta.saldo}}</td>
    	    					<td>
                                    <a href="{% url 'cuentas:detalle' cuenta.pk %}">
                                        <img border="0" alt="Detalle" src="{% static 'img/icons/chevron-double-right.svg' %}">
                                    </a>
                                </td>
    	    				</tr>
        				{% endfor %}
        			</tbody>
        		</table>
            </div><!--row col-12 -->
    	</div><!--row mt-5 mb-3 -->
    </main>
	<div class="table-responsive"><!-- pagination -->
	    <div class="col-md-12 col-sm-12 col-xs-12">
	        {% include 'djangosearchpaginationplus/includes/_pagination.html' %}
	    </div>
	</div><!-- /pagination -->
{% endblock %}
{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/django_search_pagination_plus/djangosearchpaginationplus.js' %}"></script>
{% endblock %}