{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle de cliente{% endblock %}
{% block content %} 
    <main role="main">
        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información de Cliente</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Código del cliente</th>
                            <td>{{cliente.codigo}}</td>
                        </tr>                        
                        <tr>
                            <th scope="row">Nombre del cliente</th>
                            <td>{{cliente.nombre}}</td>
                            <td></td>
                        </tr>                        
                    </tbody>
                </table>
            </div><!-- /row -->
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información de grupos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           {% for grupo in cliente.grupos.all %}
                                <th scope="col">Nombre del grupo</th>
                                <td>{{grupo.nombre}}</td>
                            {% empty %}
                                <th scope="col">No existen grupos</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>       
            </div><!-- /row -->
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información del registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Creó el registro</th>
                            <td>{{cliente.user_create}}</td>
                        </tr>                        
                        <tr>
                            <th scope="row">Fecha de creación</th>
                            <td>{{cliente.created}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de actualización</th>
                            <td>{{cliente.modified}}</td>
                        </tr>
                    </tbody>
                </table>       
            </div><!-- /row -->
            <a href="{% url 'clientes:listar' %}" class="btn btn-outline-warning btn-block">Regresar</a> 
        </div><!-- /container -->
    </main>
{% endblock %}