@font-face{
	font-family: 'Roboto-Ligth';
	src: url('../fonts/roboto/Roboto-Light.ttf');
}

* {
	font-family: Roboto-Ligth;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.jumbotron_index {
  	background: url('../img/jumbotron_bg.jpg');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	border-radius: 0;
    text-align: center;
    padding: 14rem 2rem;
}

.errorlist{
  color: #c0392b;
  font-weight: 900;
}