{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
<head>
	{% block meta %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Si podemos">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
	<title>
		{% block title %} {% endblock %}
	</title>	
	{% block stylesheet %}
		<link rel="icon" type="image/png" href="{% static 'img/icons/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{% endblock %}
</head>
<body>
	{% block navbar %}
    	{% include 'core/includes/_navbar.html'%}
	{% endblock %}
	{% block messages %}
		{% include 'core/includes/_message.html'%}
	{% endblock %}
	{% block content %} {% endblock %}
	{% block javascript %}
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/jquery-ui.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	{% endblock %}
</body>
</html>