{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
	<div class="container">
	    <div class="row mt-4 mb-5">
	    	<div class="col">
		        <div>
		            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
		            	{% csrf_token %}
		                {{ form.as_p }}
		                <div class="text-center">
		                	<input class='btn btn-outline-success btn-block' type="submit" value="{{button_legend}}"/>
		            	</div>
		            </form>
		        </div>
	      	</div><!-- /div col -->
	    </div><!-- /row -->
	</div><!-- /container -->
{% endblock %}