{% extends 'core/base.html' %}
{% load static %}
{% block title %}Si Podemos{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron_index">
	  	<div class="container">
	  	</div>
	</div>
{% endblock %}