{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle del grupo{% endblock %}
{% block content %} 
    <main role="main">
        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información del Grupo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Código del grupo</th>
                            <td>{{grupo.codigo}}</td>
                        </tr>                        
                        <tr>
                            <th scope="row">Nombre del grupo</th>
                            <td>{{grupo.nombre}}</td>
                            <td></td>
                        </tr>                        
                    </tbody>
                </table>
            </div><!-- /row -->
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información de miembros</th>
                        </tr>
                    </thead>
                    <tbody>
                           {% for cliente in grupo.clientes.all %}
                                <tr>
                                    <th scope="col">Nombre del miembro</th>
                                    <td>{{cliente.nombre}}</td>
                            {% empty %}
                                    <th scope="col">No existen miembros</th>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>       
            </div><!-- /row -->
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Información del registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Creó el registro</th>
                            <td>{{grupo.user_create}}</td>
                        </tr>                        
                        <tr>
                            <th scope="row">Fecha de creación</th>
                            <td>{{grupo.created}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de actualización</th>
                            <td>{{grupo.modified}}</td>
                        </tr>
                    </tbody>
                </table>       
            </div><!-- /row -->
            <a href="{% url 'grupos:listar' %}" class="btn btn-outline-warning btn-block">Regresar</a> 
        </div><!-- /container -->
    </main>
{% endblock %}