{% if messages %}
    <div class="container-fluid text-center">
         <div class="row mt-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <ul class="list-group" style="list-style: none; margin: 0">
                     {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible" {% endif %}>
                            {% if 'safe' in message.tags %}
                                {{ message|safe }}
                            {% else %}
                                {{ message }}
                            {% endif %}
                        </li>
                     {% endfor %}
                 </ul>
            </div><!-- /div 12 -->
         </div><!-- /row -->
    </div><!-- /container -->
{% endif %}