{% if user.is_authenticated %}
    {% load staticfiles %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'core:index' %}">
            <img src="{% static "img/sipodemos_logo.png" %}" width="30" height="30" alt="gm_logo"> Si Podemos Test
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'clientes:listar' %}">Clientes<span class="sr-only">(current)</span></a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'grupos:listar' %}">Grupos</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cuentas:listar' %}">Cuentas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            {{user.username}} 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
            </ul>
        </div><!-- /div collapse -->
    </nav>
{% endif %}