{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
	<div class="container">
		<div class="jumbotron">
		  	<div class="container">
		    	<h1 class="display-4 text-center mb-2">Detalle del pago</h1>
		    	<table class="table table-striped table-dark">
  					<tbody>				    
					    <tr>
					     	<th scope="row">Fecha esperada de pago</th>
					     	<td>{{pago_individual.fecha}}</td>
					    </tr>					    
					    <tr>
					     	<th scope="row">Monto</th>
					     	<td>$ {{pago_individual.monto_individual}} MXN</td>
					    </tr>					    
					    <tr>
					     	<th scope="row">Abonado</th>
					     	<td>$ {{pago_individual.calcular_monto_abonos}} MXN</td>
					    </tr>					    
					    <tr>
					     	<th scope="row">Liquida con</th>
					     	<td>$ {{pago_individual.calcular_monto_liquidar}} MXN</td>
					    </tr>					    
					    <tr>
					     	<th scope="row">Atraso</th>
					     	<td>{{pago_individual.esta_atrasado|yesno:"SI,NO"}}</td>
					    </tr>
  					</tbody>
				</table>
		  	</div><!-- /container -->
		</div><!-- /jumbotron -->
	    <div class="row mt-4 mb-5">
	    	<div class="col">
		        <div>
		            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
		            	{% csrf_token %}
		                {{ form.as_p }}
		                <div class="text-center">
		                	<input class='btn btn-outline-success btn-block' type="submit" value="{{button_legend}}"/>
		            	</div>
		            </form>
		        </div>
	      	</div><!-- /div col -->
	    </div><!-- /row -->
	</div><!-- /container -->
{% endblock %}